@model IEnumerable<SomeCollections.Models.Collection>

@{
    ViewData["Title"] = "Коллекции";
}

<div>
    <div>
        <a class="btn-outline-info" asp-action="Create">Добавить коллецию</a>
    </div>

    <h1>Все коллекции:</h1>

    <div class="container mt-5">
        <div class="row">
            @if (Model == null)
            {
                <h1 class="text-center ">Список коллекций пуст.</h1>
            }
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post">

                            <div class="card-body">
                                <h4 class="card-title text-center">@item.Name</h4>
                                <div class="border border-success rounded-3">
                                    <img class="img-fluid" src="@Url.Content(item.ImgPath)" />
                                </div>
                                <h6 class="card-subtitle mb-2 mt-2 text-muted text-center">Автор: @item.Owner.UserName</h6>
                                <p class="card-text">@item.Description</p>
                                <h5 class="text-muted">#@item.Tag.Name</h5>
                                <h6 class="text-muted">Элементов: @item.CountItems</h6>
                                <a class="btn btn-sm btn-primary text-white" asp-controller="Item" asp-action="Index" asp-route-id="@item.Id">Посмотреть</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (User.IsInRole("admin") || User.Identity.Name.Equals(item.Owner.UserName))
                                    {
                                        <a class="btn btn-sm btn-primary text-white" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Удалить
                                        </button>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
