@model IEnumerable<SomeCollections.Models.Collection>

@{
    ViewData["Title"] = Localizer["Header"];
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <a class="btn-outline-info" asp-action="Create">@Localizer["AddColLink"]</a>
        </div>
    }
    <h1>@Localizer["Header"]:</h1>

    <div>
        <h6 class="font-weight-bold d-inline">@Localizer["Sort"]: </h6>
        <a class="btn-link m-2" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
            @Localizer["SortName"]
        </a>
        <a class="btn-link m-2" asp-action="Index" asp-route-sortOrder="@ViewBag.CountSort">
            @Localizer["SortCount"]
        </a>
    </div>

    <div class="container mt-5">
        <div class="row">
            @if (Model == null)
            {
            <h1 class="text-center ">@Localizer["ErrorCol"].</h1>
            }
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post">

                            <div class="card-body">
                                <h4 class="card-title text-center">@item.Name</h4>
                                @if (item.ImgPath != null)
                                {
                                    <div class="border border-success rounded-3">
                                        <img class="img-fluid" src="@Url.Content(item.ImgPath)" />
                                    </div>
                                }
                            <h6 class="card-subtitle mb-2 mt-2 text-muted text-center">@Localizer["Author"]: @item.Owner.UserName</h6>
                                <p class="card-text">@item.Description</p>
                                <h5 class="text-muted">#@item.Tag.Name</h5>
                                <h6 class="text-muted">@Localizer["Count"]: @item.CountItems</h6>
                                <a class="btn btn-sm btn-primary text-white" asp-controller="Item" asp-action="Index" asp-route-id="@item.Id">@Localizer["btnShow"]</a>
                                <a class="btn btn-sm btn-primary text-white" asp-action="Edit" asp-route-id="@item.Id">@Localizer["btnEdit"]</a>
                                <button type="submit" class="btn btn-sm btn-danger">
                                    @Localizer["btnDelete"]
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
