@model IEnumerable<SomeCollections.Models.User>
@{
    ViewBag.Title = Localizer["Header"];
}

<a asp-action="Index" class="btn-outline-info">@Localizer["UserLink"]</a>

<h2 class="text-center">@Localizer["Header"]</h2>

<table class="table">
    <tr><th>@Localizer["ColEmail"]</th><th>@Localizer["ColLogin"]</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            @if (user.LockoutEnd != null)
            {
                <td><span class="text-danger">@user.Email</span></td>
                <td><span class="text-danger">@user.UserName</span></td>
            }
            else
            {
                <td>@user.Email</td>
                <td>@user.UserName</td>
            }
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    @if (user.LockoutEnd == null)
                    {
                    <a class="btn btn-sm btn-primary" asp-action="Blocking" asp-route-id="@user.Id">@Localizer["btnBlock"]</a>
                    }
                    else
                    {
                <a class="btn btn-sm btn-primary" asp-action="Blocking" asp-route-id="@user.Id">@Localizer["btnUnBlock"]</a>
                    }
                <a class="btn btn-sm btn-primary" asp-action="ChangeRoleToUser" asp-route-id="@user.Id">@Localizer["btnSetUser"]</a>
                <button type="submit" class="btn btn-sm btn-danger">
                    @Localizer["btnDelete"]
                </button>
                </form>
            </td>
        </tr>
    }
</table>