@model IEnumerable<SomeCollections.Models.Item>

@{
    ViewData["Title"] = "Личные коллекции";
}

<div>
    <ol>
        <li>
            <a asp-action="Create" asp-route-Id="@ViewBag.CollectionId">Добавить айтем</a>
        </li>
    </ol>

    <h1>Коллекция: @ViewBag.Name</h1>

    <div class="container mt-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post">

                            <div class="card-body">
                                <h4 class="card-title text-center">@item.Name</h4>
                                <h6 class="card-subtitle mb-2 text-muted text-center">Автор: @item.UserName</h6>
                                <p class="card-text">@item.Description</p>
                                <h5 class="card-subtitle mb-1 text-muted text-right">
                                    <img src="~/pic/LikeButton.webp" height="20" width="20" alt="Like" /> @item.Likes
                                </h5>
                                <a class="btn btn-sm btn-primary text-white">Редактировать</a>
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Удалить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
