@model IEnumerable<SomeCollections.Models.Item>

@{
    ViewData["Title"] = "Личные коллекции";
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("admin") || User.Identity.Name.Equals(@ViewBag.Collection.Owner.UserName))
        {
            <div>
                <a class="btn-outline-info" asp-action="Create" asp-route-Id="@ViewBag.Collection.Id">Добавить айтем</a>
            </div>
        }
    }
    <h1>Коллекция: @ViewBag.Collection.Name</h1>

    <div>
        <h6 class="font-weight-bold d-inline">Сортировка: </h6>
        <a class="btn-link m-2" asp-action="Index" asp-route-Id="@ViewBag.Collection.Id" asp-route-sortOrder="@ViewBag.NameSort">
            Имя
        </a>
        <a class="btn-link m-2" asp-action="Index" asp-route-Id="@ViewBag.Collection.Id" asp-route-sortOrder="@ViewBag.LikeSort">
            Кол-во лайков
        </a>
    </div>

    <div class="container mt-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post">

                            <div class="card-body">
                                <h4 class="card-title text-center">@item.Name</h4>
                                @if (item.ImgPath != null)
                                {
                                    <div class="border border-success rounded-3">
                                        <img class="img-fluid" src="@Url.Content(item.ImgPath)" />
                                    </div>
                                }
                                <h6 class="card-subtitle mb-2 mt-2 text-muted text-center">Автор: @item.Owner.UserName</h6>
                                <p class="card-text">@item.Description</p>
                                <h5 class="card-subtitle mb-1 text-muted text-right">
                                    <img src="~/pic/LikeButton.webp" height="20" width="20" alt="Like" /> @item.LikeCount
                                </h5>
                                <a class="btn btn-sm btn-primary text-white" asp-action="CurrentItem" asp-route-Id="@item.Id">Посмотреть</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (User.IsInRole("admin") || User.Identity.Name.Equals(item.Owner.UserName))
                                    {<a class="btn btn-sm btn-primary text-white" asp-action="Edit" asp-route-Id="@item.Id">Редактировать</a>
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Удалить
                                        </button>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
